core/__pycache__
dicee/__pycache__/
dicee/trainer/__pycache__/
dicee/models/__pycache__/
tests/__pycache__/
__pycache__/
.pytest_cache/
KGs/
Experiments/
.vscode/
wandb/*
benchmarks/
checkpoints/
dicee/read_preprocess_save_load_kg/__pycache__/
benchmark_scripts/*
!benchmark_scripts/autobatch_performance.sh
!benchmark_scripts/benchmark_quickstart.md
!benchmark_scripts/kinship_pykeen.sh
!benchmark_scripts/umls_pykeen.sh
!benchmark_scripts/pykeen_large.py
!benchmark_scripts/pykeen_small.py
!benchmark_scripts/hpo_config
!benchmark_scripts/performance_comparision_bigdataset.sh
!benchmark_scripts/performance_comparision.sh
!benchmark_scripts/utils.py
!benchmark_scripts/read_configuration.py
!benchmark_scripts/test_results/



