dicee.egg-info/dependency_links.txt
dicee.egg-info/entry_points.txt
dicee.egg-info/PKG-INFO
dicee.egg-info/requires.txt
dicee.egg-info/SOURCES.txt
dicee.egg-info/top_level.txt
KGs/README
KGs/Animals/train.txt
KGs/Biopax/biopax.owl
KGs/Biopax/train.txt
KGs/Carcinogenesis/carcinogenesis.owl
KGs/Carcinogenesis/train.txt
KGs/Countries-S1/entities.dict
KGs/Countries-S1/regions.list
KGs/Countries-S1/relations.dict
KGs/Countries-S1/test.txt
KGs/Countries-S1/train.txt
KGs/Countries-S1/valid.txt
KGs/Countries-S2/entities.dict
KGs/Countries-S2/regions.list
KGs/Countries-S2/relations.dict
KGs/Countries-S2/test.txt
KGs/Countries-S2/train.txt
KGs/Countries-S2/valid.txt
KGs/Countries-S3/entities.dict
KGs/Countries-S3/regions.list
KGs/Countries-S3/relations.dict
KGs/Countries-S3/test.txt
KGs/Countries-S3/train.txt
KGs/Countries-S3/valid.txt
KGs/FB15k/test.txt
KGs/FB15k/train.txt
KGs/FB15k/valid.txt
KGs/FB15k-237/test.txt
KGs/FB15k-237/train.txt
KGs/FB15k-237/valid.txt
KGs/Family/family-benchmark_rich_background.owl
KGs/Forte/train.txt
KGs/Hepatitis/train.txt
KGs/KINSHIP/test.txt
KGs/KINSHIP/train.txt
KGs/KINSHIP/valid.txt
KGs/Lymphography/lymphography.owl
KGs/Lymphography/train.txt
KGs/Mammographic/train.txt
KGs/Mutagenesis/mutagenesis.owl
KGs/Mutagenesis/train.txt
KGs/NELL-995-h100/test.txt
KGs/NELL-995-h100/train.txt
KGs/NELL-995-h100/valid.txt
KGs/NELL-995-h25/test.txt
KGs/NELL-995-h25/train.txt
KGs/NELL-995-h25/valid.txt
KGs/NELL-995-h50/test.txt
KGs/NELL-995-h50/train.txt
KGs/NELL-995-h50/valid.txt
KGs/NELL-995-h75/test.txt
KGs/NELL-995-h75/train.txt
KGs/NELL-995-h75/valid.txt
KGs/Nctrer/nctrer.owl
KGs/Nctrer/train.txt
KGs/Suramin/dataset.ttl
KGs/Trains/train.txt
KGs/UMLS/test.txt
KGs/UMLS/train.txt
KGs/UMLS/valid.txt
KGs/WN18/README
KGs/WN18/test.txt
KGs/WN18/train.txt
KGs/WN18/valid.txt
KGs/WN18/wordnet-mlj12-definitions.txt
KGs/WN18/Wordnet3.0-LICENSE
KGs/WN18RR/test.txt
KGs/WN18RR/train.txt
KGs/WN18RR/valid.txt
KGs/YAGO3-10/test.txt
KGs/YAGO3-10/train.txt
KGs/YAGO3-10/valid.txt
.vscode/launch.json
