torch>=2.0.0
pandas>=1.5.1
polars>=0.16.14
scikit-learn>=1.2.2
pyarrow>=11.0.0
pytorch-lightning==1.6.4
pykeen==1.10.1
zstandard>=0.21.0
pytest>=7.2.2
psutil>=5.9.4
ruff>=0.0.284
gradio>=3.23.0
rdflib>=7.0.0
sphinx>=7.1.2
ghp-import>=2.1.0
furo>=2023.08.19
tiktoken>=0.5.1
beautifulsoup4>=4.12.2