
__pycache__/
../__pycache__/
../losses/__pycache__/
../models/__pycache__/
../read_preprocess_save_load_kg/__pycache__/
../trainer/__pycache__/


Experiments/
checkpoints/

# Model artifacts
saved_models/
*.pt
*.pth
*.npy
*.npz

# Logs & experiments
lightning_logs/
bo_outputs/
param_logs/
Experiments/

# Datasets & KG dumps
Datasets_*/
KGs/
UNITKEG/

# Env & misc
venv/
wget-log
.matplotlib/
__pycache__/
