name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with ruff
        run: |
          ruff --format=github --select=F63,F7,F82 --target-version=py310 dicee/.
      - name: Test with pytest
        run: |
          wget https://hobbitdata.informatik.uni-leipzig.de/KG/KGs.zip
          unzip KGs.zip
          pytest -p no:warnings -x
