# This is a basic workflow to help you get started with Actions

name: Build-sphinx-docs

on: [push,pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs: 
  # This workflow contains a single job called "build"
  build: 
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
           python-version: "3.10"
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
        
      - name: Install dependencies
        run: | 
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create apidoc
        run: |
          sphinx-apidoc -o documents dicee/

      - name: Build HTML
        run: | 
          cd documents && make html
      - name: Run ghp-import
        run: | 
          ghp-import -n -p -f documents/_build/html